*{
    margin: 0px;
    padding: 0px;
}
#contact{
    background: url(../static/bg1.jpg) no-repeat center center/cover;
    height: 86vh;
}
h1{
    text-align: center;
    padding-top: 98px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.myInput{
    width: 50%;
    padding: 7px 15px;
    margin: 9px;
    border: 2px solid black;
    border-radius: 7px;
    outline: none;
}
.btn{
    width: 7%;
    padding: 7px 15px;
    margin: 9px;
    border: 2px solid black;
    border-radius: 7px;
    cursor: pointer;
}