*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box
}

#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 7px 29px;
}
#logo img{
    height: 42px;
    filter: invert(1);
}
#navbar{
    height: 55px;
    background-color: black;
}
#navbar ul{
    display: flex;
    align-items: center;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 4px 23px;
    margin: 0px 7px;
    color: white;
}
#navbar ul li a:hover{
    background-color: white;
    border-radius: 14px;
    padding: 4px 23px;
    margin: 0px 7px;
    color: black;
}
#main{
    background: url(../static/bg.jpg) no-repeat center center/cover;
    height: 563px;
    opacity: 0.8;
}
#introSection {
    height: 225px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    padding-top: 76px;
}
#introSection div.small{
    font-size: 28px;
}
#missionSection div{
    color: white;
}
#missionSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
    color: white;
}
.card{
    display: inline-block;
    border: 2px solid white;
    border-radius: 10px;
    width: 30%;
    margin: 23px 20px;
    height: 209px;
}
.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
}
.card-img img{
    height: inherit; 
    filter: invert(1);
}
.card-content{
    padding: 0 10px;
}
.card-content p{
    font-size: 19px;
}
#sponsersSection{
    background-color: white;
    height: 300px;
    text-align: center;
}
#sponsersSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
    color: rgb(0, 0, 0);
}
#sponsers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sponsorsimg{
    height: 200px;
    padding: 0 57px;
    margin-top: 26px;
}
#footer{
    background-color: rgb(0, 0, 0);
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}